@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
/* <==============font===============> */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /* <==============font-end===============>  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body{
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
}
.silide-bar{
    width: 250px;
    position: fixed;
    z-index: 2;
    height: 100%;
    left: 0;
    top: 67px;
    background-color: #ffffff;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    scrollbar-width: thin;
}
.silide-bar .nav-link span{
    padding: 0 15px;
    vertical-align: bottom;
    white-space: nowrap;
    font-size: 20px;
}
.silide-bar  .nav-link{
    display: flex;
    align-items: center;
}
.silide-bar .nav-footer{
    padding-right: 30px;
    padding-left: 1rem;
    padding-bottom: 10px;
}
.silide-bar .nav-footer .nav-link{

    padding: 0;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #bcb5b5;
}
.page-content{
   margin-left:290px; 
   position: relative;
}
.chip-container{
    background-color:#ffffff;
    border-top: 1px solid rgba(0, 0, 0,0.05);
    border-bottom: 1px solid rgba(0, 0, 0,0.05); 
}
#container-chip-id{
    position: fixed;
    z-index: 4;
    padding-bottom: 5px;
}
.chip-container .chip{
    display: inline-block;
    padding: 7px 12px;
    background-color:  rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 20px;
}
.chip-container .chip.active{
    background-color: black;
    color: rgb(255, 255, 255);
}
.slick{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.slick-list .slick-track{
    display: flex;
    gap: 16px;
}
a{
    display: block;
    text-decoration: none;
}
.card-video div{
    color: grey;
    font-size: 18px;
}
.card-video h4{
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.nav-bar{
    position: fixed;
    background: white;
    top: 0px;
    width: 100%;
    z-index: 5;
}




@media (min-width:1300px){
  .toggle-logo-sm{
    display: none;
  }
 
}





@media(max-width:1300px) {
    /* #side-bar-text{
      display: flex;
      flex-direction: column;
      font-size: 10px;
    } */
    .toggle-logo{
       display: none;
    }
    /* .new-md-st{
    display: flex;
    flex-direction: column;
    gap: 10px;
    } */
    /* .side-hide-text{
        display: none;
    }
    .side-hide-icon{
        display: none;
    } */
    /* .nav-footer #footer-text{
        display: none;
    } */
    .page-content{
        margin-left:100px; 
        position: relative;
     }
     /* #search-icon{
      display: none;
    } */
    .sidebar{
      display: none;
    }
    .silide-bar{
      width: 0px;
      scrollbar-width:none ;
    }
    #search-icon{
      display: none;
    }
}


/* mininav */

.mini-nav{
  width: 80px;
  height: 100%;
  font-size: 10px;
 
}

.mini{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}


.silide-bar.is-on{
  width: 250px;
  scrollbar-width:thin;
  z-index: 10;
  scrollbar-width: none;
}
.silide-bar.is-on:hover{
  scrollbar-width: thin;
}
body .menu.is-active{
  display: none;
}
body .page-content.is-active{
  margin-left:0px; 
  position: relative;
}



@media (min-width:1300px) {
    #side-bar-you{
        display:none
    }
    #search-icon{
      display: none;
    }
   
   /* .mini-nav{
      display: none;
    } */
}











@media (max-width:960px) {
  /* .nav-item{
    display: none;
  } */
  .silide-bar{
    width: 0px;
    scrollbar-width:none ;
  }
  .page-content{
    margin-left:90px; 
    position: relative;
  }
  #search-icon{
    display: none;
  }
}


@media (max-width:770px){
  #search-icon{
    display: block;
  }
}
@media (max-width:790px) {
  #hide-mini-nav{
    display: none;
  }
  .page-content{
    margin-left:0px; 
    position: relative;
  }
}



.hover-side:hover{
  background-color: #f3f0f0;
}
.chip:hover{
  background-color: rgb(210, 209, 209);
}

/* fullscreen small nav */

.menu-small .toggle-sh.is-on{
  display: flex;
  flex-direction: column;
  
}
.menu-two .toggle-sh span.is-on{
  font-size: 10px;
}

body .menu.is-active{
  display: none;
}
body .page-content.is-active{
  margin-left:70px; 
  position: relative;
}





.slide-bar-mini{
  width: 90px;
  position: fixed;
  height: 100%;
  left: 0;
  top: 60px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 40px;
  gap: 15px;
}

.slide-bar-mini .nav-link span{
  padding: 0 15px;
  vertical-align: bottom;
  white-space: nowrap;
  font-size: 20px;
}
.slide-bar-mini  .nav-link{
  display: flex;
  align-items: center;
}

.slide-bar-mini .nav-link span{
  padding: 0 15px;
  vertical-align: bottom;
  white-space: nowrap;
  font-size: 14px;
}
.slide-bar-mini  .nav-link{
  display: flex;
  align-items: center;
}
/* .slide-bar-mini .nav-footer{
  padding-right: 30px;
  padding-left: 1rem;
  padding-bottom: 10px;
} */
.mini-nav.is-off{
  display:none;
}