.header-section{
   background-color: rgba(9, 38, 46, 0.849);
   color: white;
   padding: 15px;
   display: flex;
   justify-content: space-between;
}
.header-section .logo{
    font-size: 20px;
    cursor: pointer;
}
.header-section .toggle .toggle-logo{
     display: none;
}
.header-section ul{
    display: flex;
    justify-content: space-evenly;
}
.header-section ul li{
    list-style: none;
    margin:0 10px;
    cursor: pointer;
}
@media (max-width:767px) {
    .header-section .toggle .toggle-logo{
        display: block;
   }
   .header-section .menu{
    display: none;
   }
   .header-section .menu.is-active{
    display: block;
   }
}